<cart>Loading...</cart>

<!-- ngif cart has content -->
<div class="welcome-component">

    <div class="welcome" *ngIf="orderService.order.length<1">

        <h3>Welcome!</h3>
        <p>Select an Item from The list below to begin a new order.</p>
        <p>Or Enter your phone number to repeat past orders.</p>
        <form [ngFormModel]="form" (ngSubmit)="getOrders()">
            <div class="form-group">
                <span class="input-container">
          <input type="text" class="box-up-input" #phoneRef="ngForm" ngControl="phoneLookup">
          <label for="phone" class="box-up-label">Phone #</label>
        </span>
                <div *ngIf="phoneRef.touched && phoneRef.errors" class="alert">
                    Please Enter 10 digit number with no special characters ex. 2522552555
                </div>
                <br>
            </div>
            <button type="submit" [disabled]="!form.valid" class="btn btn-centerX checkout">
                <span>Find My Orders<i class="fa fa-chevron-right"></i></span>
            </button>
        </form>

    </div>

    <div class="welcome" *ngIf="orderService.order.length>0">

        <h3>Select a new item or return to order review.</h3>

        <a [routerLink]="['Review']">

            <button class="btn btn-centerX review">
                <span>Review Order<i class="fa fa-chevron-right"></i></span>
            </button>

        </a>

    </div>


    <div class="selector-wrapper">

        <a [routerLink]="['Options',{type:'burger'}]">
            <button class="btn btn-centerX"><span>Burgers</span>
            </button>
        </a>
        <a [routerLink]="['Options',{type:'hotdog'}]">
            <button class="btn btn-centerX"><span>Hotdogs</span>
            </button>
        </a>
        <a [routerLink]="['Options',{type:'extras'}]">
            <button class="btn btn-centerX"><span>Side Items</span>
            </button>
        </a>

    </div>

    <div *ngIf="reorderService.pastOrdersClient">
        <div *ngFor="let order of reorderService.pastOrdersClient; let i = index">
          <div (click)="retrieveOrderState(i)" class="past-order">
            <p>Order Id: {{order.order_id}}></p>
            <div *ngFor="let item of order.items; let a = index">
                <h3>Item {{a}}: {{item.name}}</h3>
                <br>
                <span *ngFor="let topping of item.additionals">{{topping + " / "}}</span>
                <br>
            </div>
          </div>
        </div>
    </div>

</div>
