@mixin clearfix {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

@mixin background-image(
    $image,
    $grDir: to bottom,
    $opStart:0.3,
    $opEnd:0.5,
    $bgPos: center center
  ) {
  background:  linear-gradient(
      $grDir,
      rgba(0, 0, 0, $opStart),
      rgba(0, 0, 0, $opEnd)
    ), url($image);
  background-repeat: no-repeat;
  background-position: $bgPos;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



@mixin smallPhone {
  @media only screen and (min-device-width: 320px) and (max-device-width: 766px) and (-webkit-min-device-pixel-ratio: 2) {
    @content;
  }
}

@mixin computer {
  @media screen and (max-device-width: 3000px) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-device-width: 767px) and (max-device-width: 1199px) {
    @content;
  }
}

@mixin tabletLandscape {
  @media only screen and (min-device-width: 768px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    @content;
  }
}
