$white: #fff;
$red: red;
$fonts: 'Lato', Helvetica, sans-serif;


@media only screen
  and (min-device-width: 250px)
  and (max-device-width: 667px) {
  .order-wrapper {
    @include background-image("../images/fries.jpg");
    width: 100vw;
    min-height: 100vh;
    color: $white;
    font: $fonts;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    a,
    a:hover,
    a:visited,
    a:active, {
      text-decoration: none;
      color: $white;
    }


    .btn {
    display: block;
    position: relative;
    width: 100%;
    border: 2px solid #fff;
    border-bottom: 0px solid $white;
    background: none;
    color: #fff;
    letter-spacing: 3px;
    font-size: 2em;
    transition: all 0.3s;
    z-index: 5;
    padding: 30px;
    span {
      position: relative;
      z-index: 8;
    }
  }
  .btn:last-of-type {
    border-bottom: 2px solid $white;
  }

  .btn-centerX:after {
    content: '';
    position: absolute;
  	width: 0;
  	height: 103%;
  	top: 50%;
  	left: 50%;
  	background-color: #fff;
  	opacity: 0;
  	-webkit-transform: translateX(-50%) translateY(-50%);
  	-moz-transform: translateX(-50%) translateY(-50%);
  	-ms-transform: translateX(-50%) translateY(-50%);
  	transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s;
  }

  .btn:hover,
  .btn:active {
  	color: $red;
  }

  .btn-centerX:hover:after,
  .btn-centerX:active:after {
  	width: 100%;
  	opacity: 1;
  }


  ///////////////////////////////////////////////////////////////////////NAV////////////////////////////////////
    .order-nav {
      width: 100vw;
      position: relative;
      left: 0;
      top: 0;
      height: 100px;
      margin-bottom: 30px;
      img {
        display: block;
        height: 80%;
        width: auto;
        margin: 0 auto;
        padding-top: 15px;
      }

    } //order-nav
  //////////////////////////////////////////////CART///////////////////////////////////////////////////////////////////////////
    .cart-component {
      display: block;
      width: 90%;
      margin: 0 auto 30px;
      border: 1px solid $white;
      border-radius: 5px;
      padding: 20px;
      font-size: 1.7em;
      h2 {
        padding-bottom: 8px;
      } //cart header

      .order-contents {
        .item-cell {
          width: 100%;
          border: 1px solid $white;
          padding: 15px;

          h4 {
            padding-bottom: 8px;
          } //item title

          span {
            font-size: .5em;

          } //toppings list

          .item-total {

          } //item-cell

          .item-info {

            .item-total {
              display: block;
              width: 100%;
              text-align: right;
            }
            .fa {
              padding: 5px 40px;
              text-align: right;
              display: inline-block;
              float: right;
            }
          }

        } //item-cell

      } //order-contents

      .cart-totals {
        padding-top: 15px;
        width: 100%;
        span {
          width: 100%;
          display: block;
          text-align: right;
        }
      }
    } //cart-component
  //////////////////////////////////////////Welcome//////////////////////////////////////////////////////////////////////////////////////////
    .welcome-component {
      width: 100%;
      display: block;
      font-size: 2em;

      .welcome {
        text-align: center;
        font-weight: lighter;
        margin-bottom: 20px;
        .form-group .input-container .box-up-input {
          width: 100%;
          height: 2em;
          background: none;
          border: none;
          position: relative;
          z-index: 1;
          font-size: 1.3em;
          padding: 15px 5px 0;
          color: #fff;
        }
        .form-group .input-container .box-up-input:focus + .box-up-label::before, .form-group .input-container .box-up-input:checked + .box-up-label::before {
          -webkit-transform: rotate3d(1, 0, 0, 0deg);
          transform: rotate3d(1, 0, 0, 0deg);
        }
        .form-group .input-container .box-up-input:focus + .box-up-label::after {
          opacity: 0;
        }
        .form-group .input-container .box-up-input:focus {
          outline: none;
          background-color: none;
        }
        .form-group .input-container .box-up-label {
          width: 100%;
          height: 2em;
          display: block;
          position: relative;
          z-index: 0;
        }
        .form-group .input-container .box-up-label{
          display: inline-block;
          padding-top: 10px;
          font-size: 1.4em;
          padding-left: 5px;
          color: $white;
        }

        .form-group .input-container .box-up-label::before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 2em;
          background: $red;
          -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
          transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
          -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
          -webkit-transition: -webkit-transform 0.5s;
          transition: all 0.3s;
        }
        .form-group .input-container .box-up-label::after {
          content: '';
          height: 3px;
          width: 100%;
          position: absolute;
          opacity: 1;
          top: 0;
          display: block;
          background-color: $red;
          transition: opacity 0.3s;
        }
        .review {
          background-color: $white;
          color: $red;
        }
        .review:after {
          background-color: $red;
          color: $white;
        }

        .review:hover,
        .review:active {
          color: $white;
        }


      }
    } //welcome-component

    .selector-wrapper {
      width: 100%;
      .selector-header{
        width: 100%;
        padding: 20px;
        background-color: $white;
        color: $red;
        letter-spacing: 3px;
        font-size: 1.3em;
      }

    }
    //////////////////////////////////////////config page//////////////////////////////////////////////////////////////////////////////////////////

    .config-wrapper {
      font-size: 2em;
      .selector-wrapper {
        width: 100%;
        .selector-header{
          span {
            float:right;
          }
        }
        .btn {
          text-align: left;
          border-bottom: 0px;
          font-size: 1.5em;
        }
        .btn:last-of-type {
          border-bottom: 2px solid $white;
        }
        span {
          padding-left: 20px;
        }

        .price {
          display: inline-block;
          float: right;
          margin-right: 140px;
          position: relative;
        }
        .item_check {
        // position: relative;
        height: 100%;
        width: 100px;
        position: absolute;
        margin-left: 20px;
        right: 20px;
        top: 3px;
        bottom: 3px;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        }

      }

      .add{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $red;

        span {
          text-align: center;
          width: 100%;
          color: $white;
        }

        &:hover {
          color: $white;
        }
      }



    }//config wrapper

    .review-wrapper {
      font-size: 2em;
      .add-another {
        margin-bottom: 20px;
      }

      form {
        display: block;
        position: relative;
        margin: 0 auto 20px;
        max-width: 80%;

        .form-group .input-container .box-up-input {
          width: 100%;
          height: 2em;
          background: none;
          border: none;
          position: relative;
          z-index: 1;
          font-size: 1.3em;
          padding: 15px 5px 0;
          color: #fff;
        }
        .form-group .input-container .box-up-input:focus + .box-up-label::before, .form-group .input-container .box-up-input:checked + .box-up-label::before {
          -webkit-transform: rotate3d(1, 0, 0, 0deg);
          transform: rotate3d(1, 0, 0, 0deg);
        }
        .form-group .input-container .box-up-input:focus + .box-up-label::after {
          opacity: 0;
        }
        .form-group .input-container .box-up-input:focus {
          outline: none;
          background-color: none;
        }
        .form-group .input-container .box-up-label {
          width: 100%;
          height: 2em;
          display: block;
          position: relative;
          z-index: 0;
        }
        .form-group .input-container .box-up-label{
          display: inline-block;
          padding-top: 10px;
          font-size: 1.4em;
          padding-left: 5px;
          color: $white;
        }

        .form-group .input-container .box-up-label::before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 2em;
          background: $red;
          -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
          transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
          -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
          -webkit-transition: -webkit-transform 0.5s;
          transition: all 0.3s;
        }
        .form-group .input-container .box-up-label::after {
          content: '';
          height: 3px;
          width: 100%;
          position: absolute;
          opacity: 1;
          top: 0;
          display: block;
          background-color: $red;
          transition: opacity 0.3s;
        }
        .form-group .input-container .add-border-input {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 3em;
          z-index: 1;
          background: none;
          border: none;
          transform: translateX(15px);
          padding-top: 25px;
          font-size: 1.3em;
        }
        .form-group .input-container .add-border-input:focus + .add-border-label {
          border: 10px solid $white;
        }
        .form-group .input-container .add-border-label {
          position: absolute;
          display: inline-block;
          height: 4em;
          width: 100%;
          top: 50px;
          z-index: 0;
          background-color: #fff;
          transition: all 0.3s;
          transition-font-size: 1.3em;
          transition-display: block;
          transition-transform: translateY(30px) translateX(15px);
        }

      }

      .cart-component {
        margin-bottom: 150px;
      }

      .checkout {
        position: fixed;
        bottom: 0px;
        left: 0px;
      }

      .checkout,
      .add-another{
        background-color: $white;
        color: $red;
      }

      .checkout:after,
      .add-another:after {
        background-color: $red;
        color: $white;
      }

      .add-another:hover,
      .add-another:active,
      .checkout:hover,
      .checkout:active {
      	color: $white;
      }
    }

    .options-wrapper {
      font-size: 2em;
    }

    .confirm-wrapper {
      height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        padding: 10%;
      }
    }

  } //order wrapper

}

@media only screen
  and (min-device-width: 325px)
  and (max-device-width: 667px)
  and (orientation: landscape) {
    .order-wrapper {

        font-size: .5em;
        .config-wrapper {
          .selector-wrapper {
            .item_check {
            height: 90%;

            }

          }
        }
    }

  }


@media only screen
  and (min-device-width: 668px)
  and (max-device-width: 2000px) {
  .order-wrapper {
    @include background-image("../images/fries.jpg");
    width: 100vw;
    min-height: 100vh;
    background-color: $red;
    color: $white;
    font: $fonts;
    a,
    a:hover,
    a:visited,
    a:active, {
      text-decoration: none;
      color: $white;
    }


    .btn {
    display: block;
    position: relative;
    width: 100%;
    height: 50px;
    border: 2px solid #fff;
    border-bottom: 0px solid $white;
    background: none;
    color: #fff;
    letter-spacing: 3px;
    font-size: 1.3em;
    transition: all 0.3s;
    z-index: 5;
    span {
      position: relative;
      z-index: 8;
    }
  }
  .btn:last-of-type {
    border-bottom: 2px solid $white;
  }

  .btn-centerX:after {
    content: '';
    position: absolute;
  	width: 0;
  	height: 103%;
  	top: 50%;
  	left: 50%;
  	background-color: #fff;
  	opacity: 0;
  	-webkit-transform: translateX(-50%) translateY(-50%);
  	-moz-transform: translateX(-50%) translateY(-50%);
  	-ms-transform: translateX(-50%) translateY(-50%);
  	transform: translateX(-50%) translateY(-50%);
    transition: all 0.3s;
  }

  .btn:hover,
  .btn:active {
  	color: $red;
  }

  .btn-centerX:hover:after,
  .btn-centerX:active:after {
  	width: 100%;
  	opacity: 1;
  }


  ///////////////////////////////////////////////////////////////////////NAV////////////////////////////////////
    .order-nav {
      width: 100%;
      position: relative;
      left: 0;
      top: 0;
      height: 150px;
      margin-bottom: 30px;

      img {
        display: block;
        height: 80%;
        width: auto;
        margin: 0 auto;
        padding: 20px;
      }


    } //order-nav
  //////////////////////////////////////////////CART///////////////////////////////////////////////////////////////////////////
    .cart-component {
      display: block;
      width: 30%;
      float: right;
      margin: 20px 50px 0;
      border: 1px solid $white;
      border-radius: 5px;
      padding: 20px;
      position: relative;

      h2 {
        padding-bottom: 8px;
      } //cart header

      .order-contents {
        .item-cell {
          width: 100%;
          border: 1px solid $white;
          padding: 15px;
          border-radius: 5px;

          h4 {
            padding-bottom: 8px;
          } //item title

          .toppings-list {

          } //toppings list

          .item-info {

            .item-total {
              display: block;
              width: 100%;
              text-align: right;
            }
            .fa {
              padding: 5px 10px;
              text-align: right;
              display: inline-block;
              float: right;
              position: relative;
              z-index: 10;

            }
          }

        } //item-cell

      } //order-contents

      .cart-totals {
        padding-top: 15px;
        width: 100%;
        span {
          width: 100%;
          display: block;
          text-align: right;
        }
      }

    } //cart-component
  //////////////////////////////////////////Welcome//////////////////////////////////////////////////////////////////////////////////////////
    .welcome-component {
      width: 50%;
      display: block;
      float: left;
      margin: 0 auto 0 50px;
      .welcome {
        text-align: center;
        font-weight: lighter;
        margin-bottom: 20px;
        h3 {
          margin-bottom: 10px;
          font-size: 1.3em;
        }
        .form-group .input-container .box-up-input {
          width: 60%;
          height: 2em;
          background: none;
          border: none;
          position: relative;
          z-index: 1;
          font-size: 1.3em;
          padding: 15px 5px 0;
          margin-top: 15px;
          color: #fff;
        }
        .form-group .input-container .box-up-input:focus + .box-up-label::before, .form-group .input-container .box-up-input:checked + .box-up-label::before {
          -webkit-transform: rotate3d(1, 0, 0, 0deg);
          transform: rotate3d(1, 0, 0, 0deg);
        }
        .form-group .input-container .box-up-input:focus + .box-up-label::after {
          opacity: 0;
        }
        .form-group .input-container .box-up-input:focus {
          outline: none;
          background-color: none;
        }
        .form-group .input-container .box-up-label {
          width: 60%;
          height: 2em;
          display: block;
          position: relative;
          z-index: 0;
        }
        .form-group .input-container .box-up-label{
          display: inline-block;
          padding-top: 10px;
          font-size: 1.4em;
          padding-left: 5px;
          color: $white;
        }

        .form-group .input-container .box-up-label::before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 2em;
          background: $red;
          -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
          transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
          -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
          -webkit-transition: -webkit-transform 0.5s;
          transition: all 0.3s;
        }
        .form-group .input-container .box-up-label::after {
          content: '';
          height: 3px;
          width: 100%;
          position: absolute;
          opacity: 1;
          top: 0;
          display: block;
          background-color: $red;
          transition: opacity 0.3s;
        }
        .review {
          background-color: $white;
          color: $red;
        }
        .review:after {
          background-color: $red;
          color: $white;
        }

        .review:hover,
        .review:active {
          color: $white;
        }


      }//welcome
      .past-order {
        border: 1px solid $white;
        text-align: center;
      }
    } //welcome-component

    .options-wrapper {
      width: 50%;
      margin: 0 auto 0 50px;
      .selector-header{
        width: 100%;
        padding: 20px;
        background-color: $white;
        color: $red;
        letter-spacing: 3px;
        font-size: 1.3em;
      }
    }

    .selector-header{
      width: 100%;
      padding: 20px;
      background-color: $white;
      color: $red;
      letter-spacing: 3px;
      font-size: 1.3em;
    }
    //////////////////////////////////////////config page//////////////////////////////////////////////////////////////////////////////////////////

    .config-wrapper {
      width: 50%;
      margin: 0 0 0 50px;

      .selector-wrapper {
        width: 100%;

        .selector-header{
          span {
            float:right;
          }
        }
        .btn {
          text-align: left;
          border-bottom: 0px;
        }
        .btn:last-of-type {
          border-bottom: 2px solid $white;
        }
        span {
          padding-left: 20px;
        }

        .price {
          display: inline-block;
          float: right;
          padding-right: 85px;
        }
        .item_check {
        height: 40px;
        width: 40px;
        position: absolute;
        right: 20px;
        top: 3px;
        bottom: 3px;
        z-index: 10;
        }

      }

      .add{
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $red;

        span {
          text-align: center;
          width: 100%;
          color: $white;
        }

        &:hover {
          color: $white;
        }
      }



    }//config wrapper

    .review-wrapper {
      width: 50%;
      margin: 0 auto;
      padding-bottom: 150px;
      .cart-component {
        width: 100%;
        margin: 0 auto 50px;
      }
      .add-another {
        margin-bottom: 20px;
      }

      form {
        display: block;
        position: relative;
        margin: 0 auto 20px;

        .form-group .input-container .box-up-input {
          width: 100%;
          height: 2em;
          background: none;
          border: none;
          position: relative;
          z-index: 1;
          font-size: 1.3em;
          padding: 15px 5px 0;
          color: #fff;
        }
        .form-group .input-container .box-up-input:focus + .box-up-label::before, .form-group .input-container .box-up-input:checked + .box-up-label::before {
          -webkit-transform: rotate3d(1, 0, 0, 0deg);
          transform: rotate3d(1, 0, 0, 0deg);
        }
        .form-group .input-container .box-up-input:focus + .box-up-label::after {
          opacity: 0;
        }
        .form-group .input-container .box-up-input:focus {
          outline: none;
        }
        .form-group .input-container .box-up-label {
          width: 100%;
          height: 2em;
          display: block;
          position: relative;
          z-index: 0;
        }
        .form-group .input-container .box-up-label{
          display: inline-block;
          padding-top: 10px;
          font-size: 1.4em;
          padding-left: 5px;
          color: $white;
        }
        .form-group .input-container .box-up-label::before {
          content: '';
          position: absolute;
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 2em;
          background: $red;
          -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
          transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
          -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
          -webkit-transition: -webkit-transform 0.5s;
          transition: all 0.3s;
        }
        .form-group .input-container .box-up-label::after {
          content: '';
          height: 3px;
          width: 100%;
          position: absolute;
          opacity: 1;
          top: 0;
          display: block;
          background-color: $red;
          transition: opacity 0.3s;
        }
        .form-group .input-container .add-border-input {
          position: relative;
          display: inline-block;
          width: 100%;
          height: 3em;
          z-index: 1;
          background: none;
          border: none;
          transform: translateX(15px);
          padding-top: 25px;
          font-size: 1.3em;
        }
        .form-group .input-container .add-border-input:focus + .add-border-label {
          border: 10px solid $red;
        }
        .form-group .input-container .add-border-label {
          position: absolute;
          display: inline-block;
          height: 4em;
          width: 100%;
          top: 50px;
          z-index: 0;
          background-color: #fff;
          transition: all 0.3s;
          transition-font-size: 1.3em;
          transition-display: block;
          transition-transform: translateY(30px) translateX(15px);
        }

      }

      .checkout {
        position: relative;
        top: 0px;
        left: 0px;
      }

      .checkout,
      .add-another{
        background-color: $white;
        color: $red;
      }

      .checkout:after,
      .add-another:after {
        background-color: $red;
        color: $white;
      }

      .add-another:hover,
      .add-another:active,
      .checkout:hover,
      .checkout:active {
      	color: $white;
      }
    }

  } //order wrapper

}
