<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
      <title>Best-N-Burgers</title>
  </head>
  <body>
    <div class="container">
        <div class="row vertical-offset-100">
        	<div class="col-md-8 col-md-offset-2">
        		<div class="panel panel-default" style='background-color: transparent;'>
    			  	<div class="panel-heading" style='background-color: transparent;'>
    			    <img src="images/logo.png" alt="bnb logo" class="login-logo">
    			 	</div>
    			  	<div class="panel-body">
    			    	<form accept-charset="UTF-8" role="form">
                        <fieldset>
    			    	  	<div class="form-group">
    			    		    <input class="form-control" placeholder="User" name="user" type="text">
    			    		</div>
    			    		<div class="form-group">
    			    			<input class="form-control" placeholder="Password" name="password" type="password" value="">
    			    		</div>
    			    		<input class="btn btn-lg btn-danger btn-block" type="submit" value="Login">
    			    	</fieldset>
    			      	</form>
    			    </div>
    			</div>
    		</div>
    	</div>
    </div>

  </body>
<style>
 body{
	  background: url("../images/fries.jpg");
    /*background: url("../images/fries.jpg"),url(http://mymaplist.com/img/parallax/pinlayer2.png),url(http://mymaplist.com/img/parallax/pinlayer1.png);*/
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw
}

.vertical-offset-100{
    transform: translateY(50%);
}

.login-logo {
  width: 100%;
  height: auto;
}

</style>
